<ion-header>
<ion-toolbar color="dark">
<ion-icon (click)="dismiss()" name="arrow-back" slot="start"></ion-icon>
<ion-title>Trivias</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
<ion-card ><ion-card-content >The hashtag (#)symbol is technically called an octothorpe</ion-card-content></ion-card>
<ion-card ><ion-card-content >Neil Armstrong didn't say "That's one small step for man."</ion-card-content></ion-card>
<ion-card ><ion-card-content >You can hear a blue whale's heartbeat from more than 2 miles away.</ion-card-content></ion-card>
<ion-card ><ion-card-content >The lyrebird can mimic almost any sounds it hears — including chainsaws.</ion-card-content></ion-card>   
<ion-card ><ion-card-content >About 700 grapes go into one bottle of wine.</ion-card-content></ion-card>   
<ion-card ><ion-card-content >If Facebook was a country, it would have 1 billion more people than China.</ion-card-content></ion-card> 
<ion-card ><ion-card-content >The Firefox logo isn't a fox. It's actually a red panda.</ion-card-content></ion-card> 
<ion-card ><ion-card-content >There are approx. 3.5 billion Google Searches per day.</ion-card-content></ion-card>   
<ion-card ><ion-card-content >More people have mobile phones than toilets.</ion-card-content></ion-card>   
<ion-card ><ion-card-content >The QWERTY keyboard was designed to slow you down.</ion-card-content></ion-card>   
<ion-card ><ion-card-content >The first television broadcast took place in 1925.</ion-card-content></ion-card>
<ion-card ><ion-card-content >The name 'Google' was created accidentally.</ion-card-content></ion-card>         
</ion-content>
